@font-face {
  font-family: "stddemi-font";
  src: url("./fonts/ITCAvantGardeStdDemi.otf");
}

@font-face {
  font-family: "stdmedium-font";
  src: url("./fonts/ITCAvantGardeStdMd.otf");
}

@font-face {
  font-family: "stdbook-font";
  src: url("./fonts/ITCAvantGardeStdBk.otf");
}
body,
html {
  background: #16beb8;
}

div#section1 {
  font-family: "stdmedium-font";
  padding: 20px 20px 10px 20px;
  margin-top: 40px;
  background-color: #f2f4f4;
  border: 1px solid #f2f4f4;
}
div#section1 i.fa.fa-bookmark {
  /* background: #fff; */
  color: #16beb8;
}
div#section2 {
  font-family: "stdmedium-font";
  padding: 20px 20px 10px 20px;
  margin-top: 40px;
  background-color: #16beb8;
  border: 2px solid #f2f4f4;
}
div#section3 {
  font-family: "stdmedium-font";
  padding: 20px 20px 10px 20px;
  margin-top: 40px;
  background-color: #f2f4f4;
  border: 1px solid #f2f4f4;
}
div#section4 {
  font-family: "stdmedium-font";
  padding: 20px 20px 10px 20px;
  margin-top: 40px;
  background-color: #f2f4f4;
  border: 1px solid #f2f4f4;
}
.head {
  display: flex;
  justify-content: space-between;
}
.head h4 {
  font-size: 1.2rem;
}
.head img {
  width: 25px;
  height: 26px;
}
.icons {
  font-family: "stdbook-font";
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 5px 0;
}
.icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0 !important;
}
.icons i.fa.fa-briefcase {
  margin-right: 8px;
}
.icons p {
  margin-top: 0;
  margin-bottom: 0rem !important;
}
.icons p img {
  width: 25px;
  height: 25px;
}
.profile p {
  font-family: "stdbook-font";
  margin-top: 10px;
  margin-bottom: 5px;
}
.profile p img {
  width: 25px;
  height: 25px;
}

.opening {
  font-family: "stdbook-font";
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
}
.opening p {
  margin: 0 10px 0 0px;
}
.hour {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.hour h4 {
  font-size: 0.8rem;
  background: #fff;
  padding: 3px 5px 0 5px;
  border-radius: 10px;
  text-align: center;
}
.hour img {
  width: 20px;
  height: 20px;
  margin-top: -2px;
  margin-right: 4px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  div#section1 {
    font-family: "stdmedium-font";
    padding: 20px 20px 10px 20px;
    margin-top: 40px;
    background-color: #f2f4f4;
    border: 1px solid #f2f4f4;
    overflow-x: scroll;
  }
  div#section1 i.fa.fa-bookmark {
    /* background: #fff; */
    color: #16beb8;
  }
  div#section2 {
    font-family: "stdmedium-font";
    padding: 20px 20px 10px 20px;
    margin-top: 40px;
    background-color: #16beb8;
    border: 2px solid #f2f4f4;
    overflow-x: scroll;
  }
  div#section3 {
    font-family: "stdmedium-font";
    padding: 20px 20px 10px 20px;
    margin-top: 40px;
    background-color: #f2f4f4;
    border: 1px solid #f2f4f4;
    overflow-x: scroll;
  }
  div#section4 {
    font-family: "stdmedium-font";
    padding: 20px 20px 10px 20px;
    margin-top: 40px;
    background-color: #f2f4f4;
    border: 1px solid #f2f4f4;
    overflow-x: scroll;
  }
}
